.Hovaten, .GmailOTP ,.auth{
    display: flex;
    justify-content: space-between;
    gap:3rem;
}
.form-box{
   width: 55rem;
}
.link{
    justify-content: start;
}
.foot{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.btn-register {
    border-radius: 20px;
    background-color: #fc0606;
    color: #fff;
    cursor: pointer;
    border: none;

}