@use "sass:map";
@import "../../../../style/pages/all";

#header {
    width: 100%;
    z-index: 999;
    position: fixed;
    transition: all 0.4s ease-in-out;
}
.input-search{
    display: flex;
    justify-content: center;
    margin: 8px 0;
    border: 0.5px solid #fff;
    border-radius: 5px;
    button{
        background-color: #000;
       border: none;
    }
   
    .header-search{
        font-size: 40px;
        padding:8px;
        color: #0c0c0c;
        background-color: rgb(255 255 255 / 8%);
       
        cursor: pointer;
    }
    
input[type="text"] {
    width: 100%;
    border-radius: 5px;
    border:none;
    padding: 10px;
    color: #000;
    font-size: 1.5rem;
    &:focus {
        outline: none;
    }
    &::placeholder {
        opacity: 0.8;
    }
}
}
.wallet-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1 rem;
    font-weight: bold;
    gap: 5px;
    text-decoration: none;
}
.humberger_menu_wrapper,
.hamergur_open,
.login-btn-mobile
{
    display: none;
}

.header-top {
    background: #810000;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
}

.header-top-right {
    display: grid;
    justify-content: center;
    padding: 0.8rem 0 0.5rem;

    ul {
        display: flex;
        column-gap: 1rem;
        list-style: none;
    }
}

.header-top-left {
    color: white;
    padding: 0.8rem 0 0.5rem;
    justify-items: center;
}

.header-top-center {
    color: white;
    padding: 0.8rem 0 0.5rem;
    justify-items: center;
}

.header-logo {
    width: fit-content;
    display: flex;
    align-items: center;

    img {
        width: 10rem;
    }

    h1 {
        text-align: center;
        display: inline-block;
        font-size: 3rem;
        color: #ff0000;
        letter-spacing: 4px;
    }
}

.header-menu {
    padding:1rem 0 0 ;
    text-align: center;

    ul {
        display: flex;
        list-style: none;
        font-size: 1.8rem;

        li {
            padding: 0 3rem;
            position: relative;

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: #ff0000;
                    transition-duration: 200ms;
                }

                transition: all 0.3s;
                display: block;
            }
        }
    }

    li:hover .header-submenu {
        opacity: 1;
        visibility: visible;
    }

    .header-submenu {
        position: absolute;
        background: #810000;
        display: block;
        width: 18rem;
        z-index: 9;
        padding: 0.5rem 0;
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;
        border-radius: 0.5rem;

        li {
            a {
                font-size: 1.2rem;
                font-weight: bold;
                display: block;
                padding: 1rem 0;
                transition: all 0.3s;
            }
        }
    }
}

.header-login-signup {
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 10px;

    .login-btn,
    .login-btn-header {
        margin: 3rem 0 3rem 1rem;
        background: #ff0000;
        color: white;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
        text-decoration: none;
        margin-right: 1rem;
        font-weight:bold;
        &:hover {
            background: #810000;
            transition-duration: 200ms;
        }
    }

    .signup-btn {
        margin: 3rem 0 3rem 1rem;
        background: #919191;
        color: white;
        padding: 1rem 1rem;
        box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            background: #3f3f3f;
            transition-duration: 200ms;
        }
    }
}

.search {
    font-size: 2.5rem;
    display: flex;
    padding: 3.6rem 1rem;
}

.profile-btn {
    display: flex;
    padding: 3.6rem 1rem;
    font-size: 2.4rem;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        list-style: none;
        position: relative;
        margin-right: 20px;

        svg {
            font-size: 25px;
        }

        span {
            color: white;
            position: absolute;
            background-color: red;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: -8px;
            left: 20px;
            display: inline-block;
            text-align: center;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
        }
    }
}

.logout-btn {
    margin: 3rem 0 3rem 1rem;
    border: none;
    background: #696969;
    color: white;
    padding: 1rem 1rem;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    
    &:hover {
        background: #480101;
    }
}

.scrolled {
    background-color: #000;
}

html {
    scroll-behavior: smooth;
}

@include Responsive($TABLET) {
    .header-menu,
    .header-top,
    .login-btn-mobile,
    .sig-btn-mobile,
    .logout-mobile,
    .wallet-btn {
        display: none;
    }
    .input-search{
      padding: 16px 0;
    }
    .header-logo {
        img {
            width: 80px;
        }
    }

    .hamergur_open {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 25px;
        }
    }

    .humberger_menu_wrapper {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 50%;
        color: white;
        height: 100%;
        overflow-y: auto;
        z-index: -999;
        top: 81px;
        opacity: 0;
        display: block;
        background-color: #000000;
        transition: all 0.2s ease-in-out;
        font-size: 1.8rem;
        font-weight: bold;
        overflow-y: scroll;
        left: -300px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &.show {
            opacity: 1;
            z-index: 999;
            left: 0;
        }
    }

    .humberger_menu_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        visibility: hidden;
        transition: transform 0.2s ease-in-out;

        &.active {
            visibility: visible;

        }
    }

    .header__menu_navbar {
        height: 100%;
        padding: 0 20px 10px;

        li {
            padding: 20px 0;
            border-bottom: 1px solid #fff;
             
        }

        a {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
           
        }

        .header__menu_navbar_icon {
            font-size: 1.5rem;
            margin-left: 10px;
            margin-top: 10px;
        }

        .header-submenu {

            padding: 10px;
            display: none;


        }

        .show__submenu {
            display: block;

            li {

                &:last-child {
                    border-bottom: unset;

                }
            }
        }
    }
}

@include Responsive($DESKTOP) {

    .sig-btn-mobile,
    .logout-mobile {
        display: none;
    }
}


.login-btn-header,
.signup-btn,
.topup-btn,
.logout-btn {
    font-size: 15px;
    color: #ffffff;
    padding: 8px 15px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 10px;
    min-width: 105px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    text-decoration: none;
}

.login-btn-header:hover,
.signup-btn:hover,
.topup-btn:hover,
.logout-btn:hover {
    background-color: #353535;
    color: #fff;
}

.topup-btn {
    margin: 3rem 0;
    background-color: #ff0000;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
    color: #fff;
}

.topup-btn:hover {
    background-color: #6b0000;
}

@include Responsive($SMALL) {
    .form-group .sig-btn button {
        background-color: #ff4500;
    }
    .input-search,
    .header-menu,
    .header-top,
    .search,
    .signup-btn,
    .sig-btn,
    .login-btn-header,
    .profile-btn,
    .logout-btn,
    .topup-btn,
    .wallet-btn {
        display: none;
    }

    .sig-btn-mobile {
        text-align: center;
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    .login-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 16px;
        width: 50px;

        svg {
            font-size: 25px;
        }
    }

    .mobile-menu {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .header-logo {
        img {
            width: 80px;
        }
    }

    .hamergur_open {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 25px;
        }
    }

    .humberger_menu_wrapper {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 75%;
        color: white;
        height: 100%;
        overflow-y: auto;
        z-index: -999;
        top: 81px;
        opacity: 0;
        display: block;
        background-color: #000000;
        transition: all 0.2s ease-in-out;
        font-size: 1.8rem;
        font-weight: bold;
        overflow-y: scroll;
        left: -300px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &.show {
            opacity: 1;
            z-index: 999;
            left: 0;
        }
    }

    .humberger_menu_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        visibility: hidden;
        transition: transform 0.2s ease-in-out;

        &.active {
            visibility: visible;

        }
    }

    .header__menu_navbar {

        height: 100%;
        padding: 0 20px 10px;

        ul {
            svg {
                font-size: 24px;
                position: relative;
                bottom: -5px;
            }
        }

        span {
            font-size: 1.6rem;
            margin-left: 10px;
        }

        li {
            padding: 20px 0 12px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        a {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
        }

        .header__menu_navbar_icon {
            font-size: 1.5rem;
            margin-left: 10px;
            margin-top: 10px;
        }

        .header-submenu {

            padding: 10px;
            display: none;


        }

        .show__submenu {
            display: block;

            li {
                a {
                    font-size: 1.6rem;
                }

                &:last-child {
                    border-bottom: unset;
                }
            }
        }

        input {
            background-color: #000;
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: white;
            font-size: 1.5rem;
        }

        .input-search {
            display: flex;
            border: 0.5px solid #fff;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            
            .header-search {
                font-size: 40px;
                color: #fff;
                background-color: rgb(255 255 255 / 8%);
                margin: 2px;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
.search-container {
  position: relative;
    
     button {
      background: transparent;
      border: none;      
      cursor: pointer;
      display: flex;
      align-items: center;

      
    }
  .autocomplete-dropdown {
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 20;
    list-style: none;
    margin: 0; padding: 0;
    max-height: 200px; overflow-y: auto;
    margin-top:0.25rem;
    border-radius: 0.5rem;
    
    li {
      display: flex;
      align-items: center;
      padding: 6px;
      cursor: pointer;
      img { width: 32px; height: 32px; object-fit: cover; margin-right: 8px; }
      &:hover { background: #f5f5f5; }
      span{
         color: #000;
         font-size:1.5rem;
      }
    }
  }
}